<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Room</title>
  </head>
  <body>
    <input name="username" id="username" hidden v-model="username" />
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <button id="chat-message-submit" type="button">Send</button>

    {{ room_name|json_script:"room-name" }}

    <script>
      const { createApp, ref, reactive, readonly } = Vue;
      const reducer = (state, {type, payload}) => {
        switch (type) {
          case 'SET_USERNAME':
            return {...state, username: payload.username}
          default:
            return {...state}
        }
      }

      const useReducer = (reducer, initialState) => {

      }
      const state = reactive({
        username: "john.d.doe",
        chatMessages: [],
        typing: false,
        message: "",
      });
      const timeout = ref();
      const app = createApp({
        setup: () => state,
        methods: {
          async setUsername(username) {
            this.username = username;
          },
        },
      });

      Object.assign(app.config, { performance: true });
      const flushTimeout = () => clearTimeout(timeout.value);

      const sendMessage = () => null;

      const typingTimeout = () => {
        state.typing = false;
        console.log("typing", { user: state.username, typing: false });
      };
      const messageBox = document.getElementById("chat-message-input");

      const roomName = "greetings";
      const { host } = window.location;

      messageBox.addEventListener("keypress", async ({ which, keycode }) => {
        if (which !== 13) {
          flushTimeout();
          state.typing = true;
          timeout.value = setTimeout(typingTimeout, 3_000);
          console.log("typing", { user: state.username, typing: state.typing });
        } else {
          typingTimeout();
          flushTimeout();
        }
      });

      async function main() {
        const chatSocket = new WebSocket(`ws://${host}/ws/chat/${roomName}/`);

        chatSocket.onmessage = ({ data: _data, ...args }) => {
          console.log(args);
          const data = JSON.parse(_data);
          document.querySelector("#chat-log").value += data.message + "\n";
        };

        chatSocket.onclose = (e) => {
          console.error("Chat socket closed unexpectedly");
        };

        document.querySelector("#chat-message-input").focus();
        document.querySelector("#chat-message-input").onkeyup = (e) => {
          if (e.keyCode === 13) {
            // enter, return
            document.querySelector("#chat-message-submit").click();
          }
        };
        document.querySelector("#chat-message-submit").onclick = (e) => {
          const messageInputDom = document.querySelector("#chat-message-input");
          const message = messageInputDom.value;
          chatSocket.send(
            JSON.stringify({
              message: message,
            })
          );
          messageInputDom.value = "";
        };
      }
      main();
    </script>
  </body>
</html>
