form.blog-new-post-form {
  width: 300px;
}

p.form-group {
  display: flex;
  flex-direction: column;
}

em.error-message {
  padding: 5px;
  font-weight: bold;
  margin: 0 auto;
  color: rgba(172, 58, 62, 1);
  align-self: center;
}
div.blog-new-post-markdown {
  padding: 0 20px;
  align-self: self-start;
}
div.blog-new-post {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}